# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build APK

on:
  push:
    branches: [ "master" ]

jobs:
  publish:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore workload
      run: dotnet workload restore
    - name: Patch Mono Runtime
      run: dotnet run --project LibPatcher silent patch
    - name: Publish
      run: dotnet publish ./SMAPIGameLoader
    - name: Upload the APK
      uses: actions/upload-artifact@v5.0.0
      with:
        name: Built APK
        path: .\SMAPIGameLoader\bin\Release\net8.0-android\publish\abc.smapi.gameloader-Signed.apk
        if-no-files-found: error
        retention-days: 90
        compression-level: 0
        
